 *

body {
    --main-font: 'Roboto', sans-serif;
    font-family: var(--main-font);
    font-style: normal;
}

.container__box{
height: 507px;
width: 793px;
background: #3B3F45;
}

.header {
    display: flex ;
    justify-content: center;
height: 82px;
width: 793px;
background: #4A4F56;}

.header__title{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  color: #FF8984;
}

.header__text {
text-align: center;
color: #FF8984;
}

.container__text {
    width: 534px;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;

text-align: left;
margin: 20px 130px 135px 125px;
color: #FFFFFF;
}

.container__strike-text {
    text-decoration-style: solid;   
width: 175px;
color: #FFF;

}

.checkmark {
    background: #FFFFFF;
    height: 19px;
    width: 19px;

    }
#table{
    height: 45px;
     width: 534px; 
}

#table tbody tr:nth-child(odd){
	background: #88839E;
    height: 45px;
    width: 70%;
}
 
#table tbody tr:nth-child(even){
	 background: #7A7593;
     height: 45px;
     width: 534px;
}

.container__botom-text{
    display: flex;
    justify-content: center;
    align-items:center;
    border: 0;
    height: 45px;
width: 534px;
margin: 27px 0px;
background: #4A4F56;
color: #FF8984;


}